<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <input formControlName="name" />
  <div
    *ngIf="
      reservationForm.get('name')?.invalid &&
      reservationForm.get('name')?.touched
    "
  >
    Name is Required
  </div>

  <input formControlName="phone" />
  <div
    *ngIf="
      reservationForm.get('phone')?.invalid &&
      reservationForm.get('phone')?.touched
    "
  >
    phone is Required
  </div>
  <input formControlName="guests" />
  <div
    *ngIf="
      reservationForm.get('guests')?.invalid &&
      reservationForm.get('guests')?.touched
    "
  >
    guests is Required
  </div>
  <input formControlName="time" />
  <div
    *ngIf="
      reservationForm.get('time')?.invalid &&
      reservationForm.get('time')?.touched
    "
  >
    time is Required
  </div>
  <input formControlName="date" />
  <div
    *ngIf="
      reservationForm.get('date')?.invalid &&
      reservationForm.get('date')?.touched
    "
  >
    date is Required
  </div>
  <button type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>
